body {
    font-family: Arial, sans-serif;
    background-color: #FFB1B1; /* Background color for the entire page */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.turn-buttons {
    margin-bottom: 10px;
}

.turn-buttons button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ddd;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.turn-buttons button.active {
    background-color: #FFB1B1; /* Highlight color for active player */
    color: #fff;
}

#message {
    margin-bottom: 20px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-gap: 10px;
    margin-bottom: 20px;
}

.cell {
    width: 80px;
    height: 80px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.cell:hover {
    background-color: #cfcfcf;
}

#reset {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#reset:hover {
    background-color: #45a049;
}

#winner {
    font-weight: bold;
    color: #333;
}

